<!DOCTYPE html>
<html ng-app="gemStore"> <!--Attach module to the HTML-->
<head>
  <meta charset="utf-8" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="StoreController as store">
  <!--  Product Container  -->
  <div class="list-group-item" ng-repeat="product in store.products"> <!-- create a div for each product in the store -->
    <h3>{{product.name}} <em class="pull-right">{{product.price | currency}}</em></h3>

    <!-- Image Gallery  -->
    <div class="gallery" ng-show="{{product.images.length}}"> <!-- display images only when the product has them -->
      <div class="img-wrap">
        <img ng-src="{{product.images[0]}}" />
      </div>
      <ul class="img-thumbnails clearfix">
        <li class="small-image pull-left thumbnail" ng-repeat="image in product.images track by $index"> <!--display all the images in thumbnails -->
          <img ng-src="{{image}}"/>
        </li>
      </ul>
    </div>

    <!-- Tabs -->
    <!-- ng-init. Initialize the value of tab to 1 -->
    <section ng-init="tab = 1">
      <!-- ng-click. When clicked set the value of tab to given number -->
      <!-- ng-class. add an active class if the expression evaluates to true -->
      <ul class="nav nav-pills">
        <li ng-class="{active:tab === 1}">
          <a href="" ng-click="tab = 1">Description</a>
        </li>
        <li ng-class="{active:tab === 2}">
          <a href="" ng-click="tab = 2">Specs</a>
        </li>
        <li ng-class="{active:tab === 3}">
          <a href="" ng-click="tab = 3">Reviews</a>
        </li>
      </ul>
      <!-- Panels -->
      <!-- ng-show. display the panel only when it matches the given number -->
      <div class="panel" ng-show="tab === 1">
        <h3>Description</h3>
        <p>{{product.decription}}</p>
      </div>
      <div class="panel" ng-show="tab === 2">
        <h3>Specs</h3>
        <blockquote>None yet</blockquote>
      </div>
      <div class="panel" ng-show="tab === 3">
        <h3>Reviews</h3>
        <blockquote>None yet</blockquote>
      </div>
    </section>
  </div>
</body>
</html>
