<!DOCTYPE html>
<html ng-app="gemStore"> <!--Attach module to the HTML-->
<head>
  <meta charset="utf-8" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script type="text/javascript" src="app.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="StoreController as store">
  <!--  Product Container  -->
  <div class="list-group-item" ng-repeat="product in store.products"> <!-- create a div for each product in the store -->
    <h3>{{product.name}} <em class="pull-right">{{product.price | currency}}</em></h3>

    <!-- Image Gallery  -->
    <div class="gallery" ng-show="{{product.images.length}}"> <!-- display images only when the product has them -->
      <div class="img-wrap">
        <img ng-src="{{product.images[0]}}" />
      </div>
      <ul class="img-thumbnails clearfix">
        <li class="small-image pull-left thumbnail" ng-repeat="image in product.images track by $index"> <!--display all the images in thumbnails -->
          <img ng-src="{{image}}"/>
        </li>
      </ul>
    </div>

    <!-- Tabs -->
    <section ng-controller="PanelController as panel">
      <!-- ng-click. When clicked set the value of tab to given number -->
      <!-- ng-class. add an active class if the expression evaluates to true -->
      <ul class="nav nav-pills">
        <li ng-class="{active:panel.isSelected(1)}">
          <a href="" ng-click="panel.selectTab(1)">Description</a>
        </li>
        <li ng-class="{active:panel.isSelected(2)}">
          <a href="" ng-click="panel.selectTab(2)">Specs</a>
        </li>
        <li ng-class="{active:panel.isSelected(3)}">
          <a href="" ng-click="panel.selectTab(3)">Reviews</a>
        </li>
      </ul>
      <!-- Panels -->
      <!-- ng-show. display the panel only when it matches the given number -->
      <div class="panel" ng-show="panel.isSelected(1)">
        <h3>Description</h3>
        <p>{{product.description}}</p>
      </div>
      <div class="panel" ng-show="panel.isSelected(2)">
        <h3>Specs</h3>
        <blockquote>None yet</blockquote>
      </div>
      <div class="panel" ng-show="panel.isSelected(3)">
        <h4>Reviews</h4>
      <ul>
        <li ng-repeat="review in product.reviews">
        <blockquote>
          <strong>{{review.stars}} Stars</strong>
          {{review.body}}
          <cite class="clearfix">-{{review.author}} on {{review.createdOn | date}}</cite>
        </blockquote>
      </li>
    </ul>
        <!-- Review Form -->
        <form name="reviewForm" role="form" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
          <!--Live Preview -->
          <blockquote ng-show="reviewCtrl.review.stars">
            <strong>{{reviewCtrl.review.stars}} Stars</strong>
            {{reviewCtrl.review.body}}
            <cite>by {{reviewCtrl.review.author}}</cite>
          </blockquote>
          <!-- Actual  Form -->
          <h4>Submit a Review</h4>
          <fieldset class="from-group">
          <select class="form-control" ng-model="reviewCtrl.review.stars" ng-options="stars for stars in [5,4,3,2,1]" title="Stars" required>
            <option value="">Rate the Product</option>
          </select>
        </fieldset>
        <fieldset class="from-group">
          <textarea class="form-control" ng-model="reviewCtrl.review.body" placeholder="Write a short review of the product" title="Review"></textarea>
        </fieldset>
        <fieldset class="from-group">
          <input type="email" class="form-control" ng-model="reviewCtrl.review.author" placeholder="johnDoe@example.com" title="Email" required/>
        </fieldset>
        <fieldset class="from-group">
          <input class="btn btn-primary pull-right" type="submit" value="Submit Review"/>
        </fieldset>
        </form>
      </div>
    </section>
  </div>
</body>
</html>
